[Unit]
Description=Start libvirt domain
After=libvirtd.service
Requires=libvirtd.service

[Service]
type=simple
EnvironmentFile=-/etc/default/domrun
EnvironmentFile=-/etc/default/domrun.d/*
ExecStartPre=/bin/bash -l -c "systemctl import-environment DOMRUN"
ExecStartPre=/bin/bash -l -c "curl $DOMRUN > /usr/local/bin/domrun"
ExecStartPre=/bin/bash -l -c "chmod 0755 /usr/local/bin/domrun"
ExecStart=/usr/local/bin/domrun
SyslogIdentifier=libvirtd-domrun

[Install]
WantedBy=multi-user.target
